extends layout

block content
  h1= title

  form(action='/catalog/authors/search', method='get', autocomplete='off')
    input(type='text', name='q', placeholder='Search authors...', id='searchAuthors')

  if author_list.length
    ul(id='author_list')
      each author in author_list
        li
          a(href=author.url) #{author.name}
          |  (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})
  else
    p There are no authors.

  script(src='/javascripts/search.js')